<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChallongeManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChallongeManager.Properties.Settings>
            <setting name="Challonge_ID" serializeAs="String">
                <value>ladose</value>
            </setting>
            <setting name="Challonge_APIkey" serializeAs="String">
                <value>UKvLMpJWWoSY3YDAfM6fCUADjxaNqJ4bpLncrfMP</value>
            </setting>
            <setting name="Challonge_GameList" serializeAs="String">
                <value>2X
3rd Strike/3.3
CvS2
SSFIV/SSF4/USF4/USFIV/SF4
Garou
KoF98/KOF 98
KoF13/KOF XIII/ KOF 13
Karnov
TTT2
SSBM</value>
            </setting>
            <setting name="Challonge_SearchTag" serializeAs="String">
                <value>LaDOSE.net</value>
            </setting>
            <setting name="ForfeitTag" serializeAs="String">
                <value>[FORFAIT]</value>
            </setting>
        </ChallongeManager.Properties.Settings>
    </userSettings>
</configuration>